/* _content/KhanhLinh_Store.Web.CustomerPortal/Component1.razor.rz.scp.css */
.my-component[b-pvfzlv8k5f] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
