<!-- footer section start -->
<div class="footer_section layout_padding" style="background-color: #FFB6C1;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <h3 class="footer_text" style="color: black;">Liên kết</h3>
                <div class="footer_menu">
                    <ul>
                        <li class="active"><a href="#" style="color: black;">Trang chủ</a></li>
                        <li><a href="#" style="color: black;">Giới thiệu</a></li>
                        <li><a href="#" style="color: black;">Sản phẩm</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <h3 class="footer_text" style="color: black;">Địa chỉ</h3>
                <div class="location_text">
                    <ul>
                        <li>
                            <a href="#" style="color: black;">
                                <span class="padding_left_10"><i class="fa fa-map-marker" aria-hidden="true"></i></span> 05 Lê Viết Lượng
                            </a>
                        </li>
                        <li>
                            <a href="#" style="color: black;">
                                <span class="padding_left_10"><i class="fa fa-phone" aria-hidden="true"></i></span>(+84) 35561704
                            </a>
                        </li>
                        <li>
                            <a href="#" style="color: black;">
                                <span class="padding_left_10"><i class="fa fa-envelope" aria-hidden="true"></i></span>buikhanhlinh04022017@gmail.com
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section" style="background-color: #FFB6C1;">
    
</div>
<!-- copyright section end -->
@code {

}
